
@{
    ViewBag.Title = "Главная";
}

<h3>
    Добро пожаловать в программное средство для контроля физической формы пловца.<br><br>
    Приложение позволяет добавлять, просматривать, редактировать и удалять:<br>
    - учетные записи пловцов;<br>
    - тренировки пловцов;<br>
    - соревновательные результаты пловцов.<br><br>
    Убедитесь, что вы вошли в свою учетную запись (предварительно зарегистрировавшись, если это ваш первый вход в систему) для работы с приложением.
</h3>