@model Result
<div class='card m-2 p-1 text-center col-4'>
    <div class="card-body">
        <h5 class="card-title">
            @Model.Date.ToString("dd-MM-yyyy")
        </h5>
        <div class="card-text badge badge-secondary">
            <h6>@Model.Distance</h6>    
        </div>
        <p class="card-text">
            Время:   @Model.Time
        </p>
        <p class="card-text">
            Место: @Model.Place
        </p>        
        @{ // Получение текущего адреса
            var request = ViewContext.HttpContext.Request;
            var returnUrl = request.Path +
            request.QueryString.ToUriComponent();
        }
    </div>
</div>
